<!-- Two -->
<section class="wrapper style1 special">
    <div class="inner">
        <header>
            <h2>{{ .section.title }}</h2>
            {{ partial "markdownify-block" .section.subtitle }}
        </header>
        {{ range $post2 := ((.Site.GetPage "section" "/persone").Pages).ByDate.Reverse }}
            <section class="spotlight">
                <span class="image"><img src="{{ $post2.Params.img_path | relURL }}" alt="" /></span>
                <div class="content">
                    <header>
                        <h3>{{ $post2.Title }}</h3>
                    </header>
                    {{ partial "markdownify-block" $post2.Params.excerpt }}
                    <footer>
                        <ul class="actions">
                            <li><a href="{{ $post2.URL }}" class="button">{{ $post2.Params.post2_button_label }}</a></li>
                        </ul>
                    </footer>
                </div>
            </section>
        {{ end }}
            
        {{ partial "markdownify-block" .section.content }}
        {{ if .section.actions }}
            <footer>
                <ul class="actions special">
                    {{ range $action := .section.actions }}
                        <li><a href="{{ if strings.HasPrefix $action.url "#" }}{{ $action.url }}{{ else }}{{ $action.url | relURL }}{{ end }}" class="button{{ if $action.is_primary }} primary{{ end }}{{ if $action.is_scrolly }} scrolly{{ end }}">{{ $action.label }}</a></li>
                    {{ end }}
                </ul>
            </footer>
        {{ end }}
    </div>
</section>
